/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:focus {
  outline-width: 0; }

header .header-background {
  background: url(../images/oneblack.jpg) 0 0 no-repeat;
  background-size: cover;
  width: 100%;
  height: 220px; }
  header .header-background h1 {
    padding-top: 90px;
    text-align: center;
    font-size: 50px; }
  header .header-background p {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    font-weight: 300; }
    header .header-background p span {
      color: #53eae3; }

.directory-aside h6 {
  font-family: "Poppins", sans-serif;
  font-size: 14px; }
.directory-aside .directory-icon-wrapper {
  float: left;
  margin: 2%;
  width: 12%; }
  .directory-aside .directory-icon-wrapper .directory-icon {
    background: url(../images/logo3.png) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%; }
.directory-aside .directory-navigation {
  float: left;
  width: 79%; }
  .directory-aside .directory-navigation .artist-search {
    width: 100%;
    padding-bottom: 60px;
    padding-right: 0;
    box-sizing: border-box; }
    .directory-aside .directory-navigation .artist-search .field {
      float: right;
      display: flex;
      position: realtive;
      margin: 10px;
      width: 75%;
      flex-direction: row;
      box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15); }
    .directory-aside .directory-navigation .artist-search .field > input[type=text],
    .directory-aside .directory-navigation .artist-search .field > button {
      display: block;
      font: 16px "Poppins", sans-serif;
      font-weight: 300; }
    .directory-aside .directory-navigation .artist-search .field > input[type=text] {
      flex: 1;
      border: 0.2em solid #fff; }
    .directory-aside .directory-navigation .artist-search .field > button {
      background-color: #53eae3;
      color: white;
      border: none; }
      .directory-aside .directory-navigation .artist-search .field > button img {
        height: 20px;
        width: 20px; }
    .directory-aside .directory-navigation .artist-search .field {
      width: 100%;
      height: 40px;
      margin: 8px 0px 8px 0; }
    .directory-aside .directory-navigation .artist-search .field > button {
      background-color: #53eae3;
      color: white;
      width: 40px; }
.directory-aside .filter {
  box-sizing: border-box;
  padding: 10px;
  clear: both; }
  .directory-aside .filter #leftMenu {
    float: left;
    box-sizing: border-box; }
  .directory-aside .filter #rightMenu {
    float: right; }
  .directory-aside .filter #leftMenu,
  .directory-aside .filter #rightMenu {
    box-sizing: border-box;
    width: 50%;
    min-width: 150px; }
  .directory-aside .filter #leftMenu > details,
  .directory-aside .filter #rightMenu > details {
    box-sizing: border-box; }
  .directory-aside .filter #leftMenu > details > summary,
  .directory-aside .filter #rightMenu > details > summary {
    box-sizing: border-box;
    border: 2px solid transparent;
    cursor: pointer;
    margin: 6px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
    vertical-align: text-top; }
  .directory-aside .filter #leftMenu > details > summary:hover,
  .directory-aside .filter #rightMenu > details > summary:hover {
    box-sizing: border-box;
    border: 2px solid #53eae3; }
  .directory-aside .filter #leftMenu > details > summary::-webkit-details-marker,
  .directory-aside .filter #rightMenu > details > summary::-webkit-details-marker {
    color: #53eae3; }
  .directory-aside .filter #leftMenu > details > summary:hover ::-webkit-details-marker {
    color: #fff; }
  .directory-aside .filter #leftMenu > details > a,
  .directory-aside .filter #rightMenu > details > a {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 13px;
    margin: 0px 6px 0px 18px;
    padding: 4px;
    background: #fff;
    border-bottom: 1px solid #53eae3; }
  .directory-aside .filter #leftMenu > details > a:hover,
  .directory-aside .filter #rightMenu > details > a:hover {
    background: #DFEFFF;
    font-weight: 400; }
  .directory-aside .filter #leftMenu > details > a:before,
  .directory-aside .filter #leftMenu > details > a:before {
    content: "- "; }
.directory-aside .sort {
  clear: both;
  padding: 30px 10px 10px 10px; }
  .directory-aside .sort h4 {
    font-family: "Oswald", sans-serif;
    color: #565656;
    font-size: 31.3px;
    padding-top: 10px; }
    .directory-aside .sort h4 a {
      color: #6B6B6D;
      text-decoration: none; }
    .directory-aside .sort h4 a:hover {
      color: #53eae3; }
  .directory-aside .sort h5 {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    padding-top: 20px; }
    .directory-aside .sort h5 a {
      color: #000;
      text-decoration: none;
      border-bottom: 2px solid #53eae3; }

.view-artists {
  padding-top: 30px; }
  .view-artists a {
    text-decoration: none; }
  .view-artists h3 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 10px 0 30px 0; }
  .view-artists .col-4 {
    width: 49%; }
  .view-artists .monica {
    float: left;
    overflow: hidden; }
    .view-artists .monica .image {
      background: url(../images/monica2.png) 0 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .emily {
    float: right; }
    .view-artists .emily .image {
      background: url(../images/devoll.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .ramona {
    clear: both;
    float: left; }
    .view-artists .ramona .image {
      background: url(../images/so-long.jpg) 0 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .jenny {
    float: right; }
    .view-artists .jenny .image {
      background: url(../images/jenny.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .brooke {
    clear: both;
    float: left; }
    .view-artists .brooke .image {
      background: url(../images/brooke.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .ryan {
    float: right; }
    .view-artists .ryan .image {
      background: url(../images/ryan.png) 0 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .rudy {
    clear: both;
    float: left; }
    .view-artists .rudy .image {
      background: url(../images/rudy.png) 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .lauren {
    float: right; }
    .view-artists .lauren .image {
      background: url(../images/lauren.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .david {
    clear: both;
    float: left; }
    .view-artists .david .image {
      background: url(../images/david.png) 0 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .dane {
    float: right; }
    .view-artists .dane .image {
      background: url(../images/dane.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .dan {
    clear: both;
    float: left; }
    .view-artists .dan .image {
      background: url(../images/dan.png) 0 0 no-repeat;
      background-size: contain;
      width: 100%;
      padding-bottom: 100%; }
  .view-artists .matt {
    float: right; }
    .view-artists .matt .image {
      background: url(../images/matt.png) 0 0 no-repeat;
      background-size: cover;
      width: 100%;
      padding-bottom: 100%; }

@media screen and (min-width: 660px) {
  header .header-background {
    height: 220px; }
    header .header-background h1 {
      font-size: 65px; }

  .directory-aside {
    padding: 5px; }
    .directory-aside .directory-icon-wrapper {
      width: 18%;
      margin: 10px 5px 10px 10px; }
    .directory-aside .directory-navigation {
      width: 79%;
      float: left; }
      .directory-aside .directory-navigation .artist-search .field {
        width: 95%;
        height: 40px;
        margin: 8px 20px 8px 0; }
    .directory-aside .filter {
      padding-top: 0;
      clear: none;
      float: left;
      width: 78%; }
    .directory-aside .sort h4 {
      font-size: 35px; }
    .directory-aside .sort h5 {
      font-size: 25px;
      padding-top: 10px;
      padding-bottom: 20px; }

  .view-artists {
    clear: both;
    width: 98%;
    margin: 0 auto;
    padding: 10px 0px 20px 0px;
    overflow: hidden;
    box-sizing: border-box; }
    .view-artists .col-4 {
      width: 31%;
      margin-right: 3.5%;
      overflow: hidden;
      box-sizing: border-box; }
      .view-artists .col-4:nth-child(3n) {
        margin-right: 0; }
    .view-artists .emily {
      float: left; }
    .view-artists .ramona {
      clear: none;
      float: left; }
    .view-artists .jenny {
      clear: both;
      float: left; }
    .view-artists .brooke {
      clear: none;
      float: left; }
    .view-artists .ryan {
      float: left; }
    .view-artists .lauren {
      float: left; }
    .view-artists .david {
      clear: none;
      float: left; }
    .view-artists .dane {
      float: left; }
    .view-artists .dan {
      clear: none;
      float: left; }
    .view-artists .matt {
      float: left; } }
@media screen and (min-width: 950px) {
  header .header-background {
    height: 260px; }
    header .header-background h1 {
      padding-top: 120px;
      font-size: 80px; }

  #directory .nav-large nav #home {
    border: none; }
  #directory .nav-large nav #artist-directory {
    border-bottom: 2px solid #53eae3; }

  .directory-aside {
    float: left;
    width: 28%;
    padding-top: 20px; }
    .directory-aside .directory-icon-wrapper {
      width: 50%;
      margin-top: 0; }
    .directory-aside .directory-navigation {
      width: 100%;
      padding-bottom: 30px;
      padding-left: 10px; }
    .directory-aside .filter {
      width: 100%; }
      .directory-aside .filter #leftMenu,
      .directory-aside .filter #rightMenu {
        width: 100%; }
    .directory-aside .sort h5 {
      padding-top: 20px; }

  .view-artists {
    clear: none;
    float: right;
    width: 70%;
    padding-right: 1%;
    padding-top: 20px; }
    .view-artists h3 {
      font-size: 20px; }
    .view-artists .col-4 {
      width: 32%;
      margin-right: 2%; } }
#artist-page h1 {
  padding-top: 80px; }

.artist-info .profile-pic-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-top: -50px;
  padding-bottom: 10px;
  max-width: 300px; }
  .artist-info .profile-pic-wrapper .profile-pic {
    background: url(../images/profile-pic.png) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%; }
.artist-info .social-media {
  max-width: 400px;
  margin: 0 auto; }
  .artist-info .social-media a {
    text-decoration: none; }
  .artist-info .social-media .email, .artist-info .social-media .facebook, .artist-info .social-media .instagram, .artist-info .social-media .twitter, .artist-info .social-media .website {
    width: 100%; }
    .artist-info .social-media .email img, .artist-info .social-media .facebook img, .artist-info .social-media .instagram img, .artist-info .social-media .twitter img, .artist-info .social-media .website img {
      margin: 0 auto;
      width: 16%;
      padding-bottom: 16%;
      margin: 1.5%;
      overflow: hidden; }
.artist-info .tools {
  margin-top: -35px; }
  .artist-info .tools p {
    padding-bottom: 15px;
    padding-left: 5px;
    line-height: 20px; }
    .artist-info .tools p span {
      margin-right: 5px;
      font-family: "Oswald", sans-serif;
      font-size: 20px; }
.artist-info .bio p {
  line-height: 20px;
  padding: 15px 5px 40px 5px; }
.artist-info .border-circle {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  background-color: #53eae3;
  border: 4px solid #E0E0E0;
  border-radius: 50%;
  margin-top: -14px; }
.artist-info .border {
  border-bottom: 4px solid #E0E0E0; }

.artwork {
  padding-top: 20px; }
  .artwork .group {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px; }
    .artwork .group a {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: #000; }
    .artwork .group h3 {
      font-size: 20px;
      font-family: "Oswald", sans-serif;
      padding-top: 5px;
      padding-bottom: 5px; }
    .artwork .group h5 {
      float: right;
      font-weight: 500;
      padding-bottom: 40px;
      font-size: 18px; }
    .artwork .group h6 {
      float: left;
      font-size: 16px; }
  .artwork .so-long .image {
    background: url(../images/so-long.jpg) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: -24%; }
  .artwork .rainbow .image {
    background: url(../images/rainbow-tears.png) 52% 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right; }
  .artwork .salome .image {
    background: url(../images/salome.jpg) 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    clear: right; }
  .artwork .giant-heart .image {
    background: url(../images/with-a-giant-heart.png) 50% 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right; }
  .artwork .mary-gold .image {
    background: url(../images/mary-gold.png) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right; }
  .artwork .dont-run .image {
    background: url(../images/dont-run.png) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right;
    margin-bottom: -26%; }
  .artwork .monarch-queen .image {
    background: url(../images/monarch-queen.png) 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100%;
    clear: right;
    margin-bottom: -5px; }
  .artwork .gift .image {
    background: url(../images/gift-and-curse.png) 0 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right;
    margin-bottom: -26%; }
  .artwork .beachmasters .image {
    background: url(../images/beachmasters-revenge.png) 50% 0 no-repeat;
    background-size: contain;
    width: 100%;
    padding-bottom: 100%;
    clear: right; }

@media screen and (min-width: 663px) {
  #artist-page h1 {
    padding-top: 90px;
    padding-left: 190px; }

  .artist-info {
    margin: 0 auto; }
    .artist-info .profile-pic-wrapper {
      width: 35%;
      margin-top: -70px;
      float: left;
      padding-left: 3%;
      max-width: 280px; }
      .artist-info .profile-pic-wrapper .profile-pic {
        width: 100%;
        padding-bottom: 100%; }
    .artist-info .social-media {
      max-width: 430px;
      padding-top: 30px;
      float: left;
      width: 60%;
      box-sizing: border-box;
      padding-left: 4%; }
    .artist-info .tools {
      padding-top: 10px;
      clear: both;
      width: 80%;
      margin: 0 auto; }
    .artist-info .bio {
      width: 80%;
      margin: 0 auto; }
      .artist-info .bio p {
        width: 103%; }

  .artwork {
    padding: 20px;
    box-sizing: border-box; }
    .artwork .group {
      width: 31%; }
      .artwork .group h3 {
        font-size: 18px; }
      .artwork .group h5 {
        font-size: 16px; }
      .artwork .group h6 {
        font-size: 15px; }
    .artwork .so-long {
      float: left; }
      .artwork .so-long h3 {
        width: 125%; }
      .artwork .so-long h5 {
        margin-right: -30%; }
      .artwork .so-long .image {
        width: 132%;
        padding-bottom: 110%;
        margin-bottom: -10%; }
    .artwork .rainbow {
      float: left;
      margin-left: 7%; }
      .artwork .rainbow h3 {
        margin-left: 18%; }
      .artwork .rainbow h6 {
        margin-left: 18%; }
      .artwork .rainbow h5 {
        margin-right: 10%; }
      .artwork .rainbow .image {
        background-position: 70% 0; }
    .artwork .salome {
      float: left; }
    .artwork .giant-heart {
      clear: left;
      float: left; }
      .artwork .giant-heart h5 {
        margin-right: 22%; }
      .artwork .giant-heart .image {
        background-position: 0 0; }
    .artwork .mary-gold {
      float: left;
      margin-left: -5%; }
    .artwork .dont-run {
      float: left;
      margin-left: 2%; }
      .artwork .dont-run h5 {
        margin-right: -32%; }
      .artwork .dont-run .image {
        width: 132%;
        padding-bottom: 140%;
        margin-bottom: -40%; }
    .artwork .monarch-queen {
      clear: left;
      float: left; }
      .artwork .monarch-queen .image {
        margin-bottom: 0; }
    .artwork .gift {
      float: left;
      margin-left: 2%; }
      .artwork .gift h5 {
        margin-right: -35%; }
      .artwork .gift .image {
        background-position: 5px 0;
        width: 135%;
        padding-bottom: 130%;
        margin-bottom: -30%; }
    .artwork .beachmasters {
      float: left;
      margin-left: 5%; }
      .artwork .beachmasters h3 {
        margin-left: 25%; }
      .artwork .beachmasters h6 {
        margin-left: 25%; }
      .artwork .beachmasters .image {
        background-position: 90% 0; } }
@media screen and (min-width: 950px) {
  #artist-page h1 {
    padding-top: 130px;
    padding-left: 310px; }
  #artist-page .nav-large nav #home {
    border: none; }
  #artist-page .nav-large nav #artist-directory {
    border-bottom: 2px solid #53eae3; }

  .artist-info {
    max-width: 950px; }
    .artist-info .profile-pic-wrapper {
      padding-left: 5%;
      width: 28%;
      margin-top: -150px; }
    .artist-info .social-media {
      width: 42%;
      box-sizing: border-box;
      padding-left: 5%; }
      .artist-info .social-media .email img, .artist-info .social-media .facebook img, .artist-info .social-media .instagram img, .artist-info .social-media .twitter img, .artist-info .social-media .website img {
        padding-bottom: 0; }
    .artist-info .tools {
      margin: 0 auto;
      width: 75%;
      margin-top: -20%; }
    .artist-info .bio {
      width: 75%; }
      .artist-info .bio p {
        padding-top: 10px; }

  .artwork {
    max-width: 980px;
    margin: 0 auto; }
    .artwork h3 {
      display: none; }
    .artwork h5 {
      display: none; }
    .artwork h6 {
      display: none; }
    .artwork a:hover h3 {
      display: inline-block;
      margin-top: -100%;
      text-align: left;
      font-size: 50px;
      text-transform: uppercase;
      padding-right: 15%;
      padding-left: 2%;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15); }
    .artwork a:hover h5 {
      display: inline-block;
      margin-top: -13%;
      font-size: 35px;
      padding-bottom: 0;
      float: left;
      padding-left: 2%;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15); }
    .artwork a:hover h6 {
      display: inline-block;
      margin-top: -20%;
      font-size: 20px;
      padding-left: 2%;
      text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15); }
    .artwork a:hover .giant-heart h3 {
      padding-right: 23%; }
    .artwork a:hover .gift h3, .artwork a:hover .gift h5, .artwork a:hover .gift h6 {
      padding-left: 10%; }
    .artwork .gift a:hover h3, .artwork .gift a:hover h5, .artwork .gift a:hover h6 {
      padding-left: 4%; }
    .artwork .beachmasters a:hover h3 {
      padding-left: 4%; }
    .artwork .beachmasters a:hover h5 {
      padding-left: 28%; }
    .artwork .beachmasters a:hover h6 {
      padding-left: 4%; }
    .artwork .rainbow a:hover h5 {
      padding-left: 20%; }
    .artwork .salome .image {
      background: url(../images/salome.jpg) 0 0 no-repeat;
      background-size: cover; } }
@media screen and (min-width: 950px) {
  #events-page .nav-large nav #home {
    border: none; }
  #events-page .nav-large nav #events {
    border-bottom: 2px solid #53eae3; } }
body {
  -webkit-font-smoothing: antialiased; }

.background {
  background-color: #fff; }

h1 {
  font-size: 50px;
  padding-bottom: 20px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #53eae3;
  text-shadow: 0 5px 1px rgba(0, 0, 0, 0.15); }

h2 {
  font-family: "Oswald", sans-serif; }

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300; }

header {
  /* Animation for the slideshow images */
  /* Animation for the title */
  /* Show at least something when animations not supported */
  background-color: #fff; }
  header .modernizr-slideshow,
  header .modernizr-slideshow:after {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0; }
  header .modernizr-slideshow li .background {
    width: 100%;
    height: 320px;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s; }
  header .modernizr-slideshow li div {
    z-index: 1000;
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s; }
  header .modernizr-slideshow li div h1 {
    line-height: 60px; }
    header .modernizr-slideshow li div h1:nth-of-type(even) {
      color: #ffffff; }
  header .modernizr-slideshow li div p {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    font-weight: 300; }
    header .modernizr-slideshow li div p span {
      color: #53eae3; }
  header .modernizr-slideshow li:nth-child(1) .background {
    background-image: url(../images/oneblack.jpg);
    background-size: cover;
    background-position: center -100px;
    animation-delay: .4s; }
  header .modernizr-slideshow li:nth-child(2) .background {
    background-image: url(../images/one1.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; }
  header .modernizr-slideshow li:nth-child(3) .background {
    background-image: url(../images/twoblack.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; }
  header .modernizr-slideshow li:nth-child(4) .background {
    background-image: url(../images/two.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; }
  header .modernizr-slideshow li:nth-child(5) .background {
    background-image: url(../images/threeblack.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; }
  header .modernizr-slideshow li:nth-child(6) .background {
    background: url(../images/three.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; }
  header .modernizr-slideshow li:nth-child(7) .background {
    background-image: url(../images/oneblack.jpg);
    background-size: cover;
    background-position: center -100px;
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; }
    header .modernizr-slideshow li:nth-child(7) .background h1 {
      color: #53eae3; }
  header .modernizr-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; }
    header .modernizr-slideshow li:nth-child(2) div h1 {
      color: white; }
    header .modernizr-slideshow li:nth-child(2) div p {
      color: #fff;
      text-align: center;
      font-weight: 300; }
  header .modernizr-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; }
    header .modernizr-slideshow li:nth-child(3) div p {
      color: #fff;
      text-align: center;
      font-weight: 300; }
  header .modernizr-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; }
    header .modernizr-slideshow li:nth-child(4) div h1 {
      color: white; }
    header .modernizr-slideshow li:nth-child(4) div p {
      font-weight: 300;
      color: #fff; }
  header .modernizr-slideshow li:nth-child(5) div {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; }
  header .modernizr-slideshow li:nth-child(6) div {
    -webkit-animation-delay: 30s;
    -moz-animation-delay: 30s;
    -o-animation-delay: 30s;
    -ms-animation-delay: 30s;
    animation-delay: 30s; }
    header .modernizr-slideshow li:nth-child(6) div h1 {
      color: white; }
    header .modernizr-slideshow li:nth-child(6) div p {
      color: #fff; }
  header .modernizr-slideshow li:nth-child(7) div {
    -webkit-animation-delay: 36s;
    -moz-animation-delay: 36s;
    -o-animation-delay: 36s;
    -ms-animation-delay: 36s;
    animation-delay: 36s; }
    header .modernizr-slideshow li:nth-child(7) div h1 {
      color: #53eae3; }
    header .modernizr-slideshow li:nth-child(7) div p {
      color: #fff; }
@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes imageAnimation {
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes imageAnimation {
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes imageAnimation {
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1;
    animation-timing-function: ease-out; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes titleAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes titleAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-ms-keyframes titleAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1;
    animation-timing-function: ease-out; }
  17% {
    opacity: 1; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes titleAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in; }
  8% {
    opacity: 1; }
  17% {
    opacity: 1;
    animation-timing-function: ease-out; }
  25% {
    opacity: 0; }
  100% {
    opacity: 0; } }
  header .no-cssanimations .modernizr-slideshow li span {
    opacity: 1; }
  header p {
    width: 90%; }
  header .nav-large {
    display: none; }

.nav-small {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 5; }
  .nav-small .logo-wrapper {
    height: 50px;
    width: 50px;
    float: left;
    margin: 5px; }
    .nav-small .logo-wrapper .logo {
      background: url(../images/logo3.png) 0 0 no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%; }
  .nav-small .right {
    float: right;
    width: 70%;
    padding: 10px 10px 0 0; }
    .nav-small .right .container {
      width: 60px;
      margin: 5px auto; }
    .nav-small .right .searchbox {
      position: relative;
      width: 60px;
      height: 50px;
      float: right;
      overflow: hidden;
      -webkit-transition: width 0.3s;
      -moz-transition: width 0.3s;
      -ms-transition: width 0.3s;
      -o-transition: width 0.3s;
      transition: width 0.3s; }
    .nav-small .right .searchbox-input {
      top: 0;
      right: 0;
      border: 0;
      outline: 0;
      background: transparent;
      width: 90%;
      height: 50px;
      margin: 0;
      padding: 0px 25px 0px 20px;
      font-size: 20px;
      color: #fff;
      font-family: "Poppins", sans-serif; }
    .nav-small .right .searchbox-input::-webkit-input-placeholder {
      color: #fff; }
    .nav-small .right .searchbox-input:-moz-placeholder {
      color: #53eae3; }
    .nav-small .right .searchbox-input::-moz-placeholder {
      color: #53eae3; }
    .nav-small .right .searchbox-input:-ms-input-placeholder {
      color: #53eae3; }
    .nav-small .right .searchbox-icon,
    .nav-small .right .searchbox-submit {
      position: absolute;
      top: 0;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      right: 0;
      padding-right: 20px;
      margin: 0;
      border: 0;
      outline: 0;
      line-height: 50px;
      text-align: center;
      cursor: pointer;
      background: transparent; }
    .nav-small .right .searchbox-open {
      width: 80%; }
    .nav-small .right .searchbox-icon img {
      height: 30px;
      width: 30px; }
    .nav-small .right #menu-button {
      float: right;
      height: 35px;
      width: 35px;
      display: block;
      z-index: 5; }
      .nav-small .right #menu-button img {
        height: 30px;
        width: 30px; }

main {
  position: absolute;
  top: 330px; }
  main h2 {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    padding: 20px 0 0px 20px;
    text-transform: uppercase;
    text-shadow: 2px 3px 0px rgba(0, 0, 0, 0.15);
    max-width: 400px; }
  main h3 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 5px 1px rgba(0, 0, 0, 0.15);
    padding-left: 10px;
    padding-bottom: 45px; }
  main h4 {
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 5px 1px rgba(0, 0, 0, 0.15);
    font-size: 30px;
    padding-left: 10px; }
  main p {
    line-height: 20px;
    font-size: 14px;
    padding: 10px 20px 10px 20px; }
  main .about-left h2 {
    color: #53eae3;
    padding-bottom: 10px; }
  main .about-left a {
    font-family: "Oswald", sans-serif;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #53eae3; }
    main .about-left a:hover, main .about-left a:hover h2, main .about-left a:hover h3 {
      border-bottom: none;
      color: #53eae3; }
  main .about-left .featured-artist1 {
    height: 130px;
    width: 100%;
    max-width: 400px;
    background: url(../images/so-long.jpg) 0 -100px no-repeat;
    background-size: cover;
    margin: 5px auto; }
  main .about-left .featured-artist2 {
    height: 130px;
    width: 100%;
    max-width: 400px;
    background: url(../images/emily.jpg) 0 -130px no-repeat;
    background-size: cover;
    margin: 5px auto; }
  main .about-right h2 {
    color: #53eae3;
    padding-top: 30px;
    padding-bottom: 10px; }
  main .about-right a {
    font-family: "Oswald", sans-serif;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #53eae3; }
    main .about-right a:hover, main .about-right a:hover h2, main .about-right a:hover h3 {
      border-bottom: none;
      color: #53eae3; }
  main .about-right .event1 {
    height: 130px;
    width: 100%;
    background: url(../images/roger.jpg) 0 0 no-repeat;
    background-size: cover;
    margin: 5px auto;
    max-width: 400px; }
  main .about-right .event2 {
    height: 130px;
    width: 100%;
    background: url(../images/artbash.png) 0 0 no-repeat;
    background-size: cover;
    margin: 5px auto;
    max-width: 400px; }

footer {
  display: none;
  position: relative;
  top: 580px;
  background-color: #6B6B6D;
  width: 100%; }
  footer .logo-wrapper {
    height: 50px;
    width: 50px;
    padding: 5px 0;
    margin: 0 auto; }
    footer .logo-wrapper .logo {
      background: url(../images/logo3.png) 0 0 no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%; }

@media screen and (min-width: 660px) {
  h1 {
    font-size: 75px; }

  header .modernizr-slideshow li:nth-child(1) .background {
    background-position: center -150px; }
  header .modernizr-slideshow li:nth-child(2) .background {
    background-position: center -150px; }
  header .modernizr-slideshow li .background {
    height: 380px; }
  header .modernizr-slideshow li div {
    top: 180px; }
    header .modernizr-slideshow li div p {
      width: 70%;
      font-size: 18px; }

  main {
    top: 400px;
    width: 80 p;
      width-width: 90%;
      width-margin: 0 auto;
      width-font-size: 15px; }
    main h2 {
      font-size: 40px;
      padding-top: 5px;
      padding-left: 10px; }
    main .about-left {
      margin: 0 auto;
      width: 85%;
      padding-bottom: 40px; }
      main .about-left .featured-artist1 {
        float: left;
        width: 50%;
        background-position: center -50px;
        margin-bottom: 0;
        height: 150px;
        max-width: 350px; }
      main .about-left .featured-artist2 {
        float: right;
        width: 50%;
        margin-bottom: 0;
        height: 150px;
        background-position: 0 -100px; }
    main .about-right {
      margin: 0 auto;
      width: 85%; }
      main .about-right h2 {
        clear: both; }
      main .about-right .event1 {
        clear: both;
        float: left;
        width: 50%;
        margin-top: 0;
        height: 150px;
        max-width: 350px; }
      main .about-right .event2 {
        float: right;
        width: 50%;
        margin-top: 0;
        height: 150px; }

  footer {
    top: 330px; } }
@media screen and (min-width: 950px) {
  .nav-small {
    display: none; }

  h1 {
    font-size: 100px;
    padding-bottom: 60px; }

  header .modernizr-slideshow li:nth-child(5) .background {
    background-position: center -300px; }
  header .modernizr-slideshow li:nth-child(6) .background {
    background-position: center -300px; }
  header .modernizr-slideshow li .background {
    height: 530px; }
  header .modernizr-slideshow li div {
    top: 250px; }
    header .modernizr-slideshow li div p {
      width: 70%;
      line-height: 25px;
      font-size: 21px; }
  header .header {
    position: absolute;
    z-index: 1; }
    header .header h1 {
      color: #53eae3; }
  header p {
    line-height: 40px;
    width: 100%;
    max-width: 900px;
    font-size: 20px; }
  header .nav-large {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%; }
    header .nav-large .logo-wrapper {
      height: 60px;
      width: 60px;
      float: left;
      margin: 10px; }
      header .nav-large .logo-wrapper .logo {
        background: url(../images/logo3.png) 0 0 no-repeat;
        background-size: contain;
        height: 100%;
        width: 100%; }
    header .nav-large nav {
      float: left;
      text-transform: uppercase;
      padding: 20px 5px; }
      header .nav-large nav a {
        font-family: "Oswald", sans-serif;
        color: #fff;
        text-decoration: none;
        margin: 20px 10px;
        font-size: 20px;
        padding-top: 20px; }
        header .nav-large nav a:hover {
          color: #53eae3; }
      header .nav-large nav #home {
        border-bottom: 2px solid #53eae3; }
    header .nav-large .right {
      float: right; }
      header .nav-large .right .field {
        float: right;
        display: flex;
        position: realtive;
        margin: 10px;
        width: 75%;
        flex-direction: row;
        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15); }
      header .nav-large .right .field > input[type=text],
      header .nav-large .right .field > button {
        display: block;
        font: 16px "Poppins", sans-serif;
        font-weight: 300; }
      header .nav-large .right .field > input[type=text] {
        flex: 1;
        border: 0.2em solid #fff; }
      header .nav-large .right .field > button {
        background-color: #53eae3;
        color: white;
        border: none; }
        header .nav-large .right .field > button img {
          height: 20px;
          width: 20px; }

  main {
    width: 100%;
    margin: 0 auto;
    top: 540px; }
    main h2 {
      padding-left: 30px;
      font-size: 39px;
      padding-bottom: 60px; }
    main p {
      padding-left: 30px;
      width: 85%;
      margin: 0; }
    main .about-left {
      float: left;
      width: 50%;
      padding: 5px;
      box-sizing: border-box; }
      main .about-left .featured-artist1 {
        background-position: center -20px; }
      main .about-left .featured-artist2 {
        background-position: center -50px; }
      main .about-left p {
        max-width: 500px; }
    main .about-right {
      float: right;
      margin: 0;
      width: 50%;
      padding: 5px;
      box-sizing: border-box; }
      main .about-right h2 {
        padding-top: 5px; }
      main .about-right p {
        min-width: 450px;
        padding-bottom: 15px; }
    main .featured-artist1 {
      clear: both;
      float: left;
      width: 25%;
      margin-top: 10px;
      height: 140px; }
    main .featured-artist2 {
      float: left;
      width: 25%;
      margin-top: 0;
      background-position: center -50px;
      height: 140px;
      margin-top: 10px; }
    main .event1 {
      clear: none;
      float: left;
      width: 25%;
      height: 140px;
      margin-top: 10px; }
      main .event1 h3 {
        padding-bottom: 15px; }
    main .event2 {
      float: left;
      width: 25%;
      height: 140px;
      margin-top: 10px; }
      main .event2 h3 {
        padding-bottom: 65px; }

  footer {
    top: 210px; } }

/*# sourceMappingURL=style.css.map */
